body {
    font-family: sans-serif;
    background-color:orange;
    background-repeat: no-repeat;
    background-size: cover;
    
   
  }
  .movie-card {
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
  }
  #app{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 30px;
  }
  #add-movie-form{
    display: flex;
    flex-direction: column;
    
    vertical-align:middle;
    
    padding: 20px;
    gap: 10px;
    width: 180px;
    
  }
  #add-movie-form input{
   }