.total-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 50px;
  text-align: center;
  padding-right: 60px;

}
body {
  /* background-color:blue; */
}

.movie-card {
  border: solid brown;
  padding-bottom: 20px;
  padding-top: 10px;
}

@media (max-width: 768px) {
  #app {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 480px) {
  #app {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 320px) {
  #app {
    grid-template-columns: 1fr;
  }
}

button{
    padding: 10px 20px;
    background-color: #db7434; 
    color: white; 
    border: none;
    border-radius: 10px; 
    
    font-size: 16px;
    
}

button:hover {
    background-color: rgb(210, 213, 63);
}
